# Django
Django==1.10.6
django-crispy-forms==1.6.1
django-extensions==1.7.7
bpython==0.16

# pytest
pytest==3.0.7
pytest-django==3.1.2
pytest-flake8==0.8.1
pytest-mock==1.5.0
pytest-xdist==1.15.0
factory-boy==2.8.1
mock==2.0.0

# coverage
coverage==4.3.4
pytest-cov==2.4.0
python-coveralls==2.9.0

# Flake8
flake8==3.3.0
flake8-docstrings==1.0.3
